{% set enabled = '' %}
{% if (not opChatty) %}
	{% set enabled = "<span class='red'>" ~ opponent.username ~ " does not feel like chatting.</span>" %}
{% endif %}
{% set hidden = '' %}
{% if (not pChatty) %}
	{% set hidden = ' hidden' %}
{% endif %}
<div id="chatBox" class="row {{ hidden }}">
	<div id="chatTitle"><label>Chat with opponent:</label></div>
	<div id="chatDisplay" class="row">
		<div class="col-md-12">
			<div id="chatLog">
				{{ enabled |raw }}
			</div>
		</div>
	</div>
	<div id="chatInput" class="row">
		<div class="col-md-12">
			<table>
				<tr>
					<td><input id="chatMsg" type="text" value=""/><a id="chatSend" href="{{ path('cm_send_chat', {'gameID': gameID}) }}" class="btn btn-primary">Send</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>