{% set enabled = '' %}
{% if ((player == 'w' and not game.p2Chatty) or (player == 'b' and not game.p1Chatty)) %}
	{% set enabled = opponent.username ~ ' does not feel like chatting.' %}
{% endif %}
<div id="chatBox" class="row">
	<div class="col-md-12">
		<h2>Chat with opponent:</h2>
		<div>
			<span>{{ enabled }}</span>
		</div>
		<input type="text"/> <a id="sendsubmit" class="btn btn-primary"></a>
	</div>
</div>