<div id="gameOptions" class="row">
	<div class="col-md-4">
    	<a  href="{{ path('cm_resign_game', {}) }}" class="btn btn-large btn-primary">Resign</a>
	</div>
	<div class="col-md-4">
    	<a  href="{{ path('cm_offer_draw', {}) }}" class="btn btn-large btn-primary">Offer Draw</a>
	</div>
	<div class="col-md-4">
    	<a  href="{{ path('cm_toggle_chat', {}) }}" class="btn btn-large btn-primary">Disable Chat</a>
	</div>
</div>	