 {% extends '::base.html.twig' %}
 
{% block body %}
	<div class="row">
	    <div class="errors col-md-6">
		</div>
	</div>
	<div class="row">
	    <div class="col-md-6">
		    {{ render(controller('CMInterfaceBundle:Game:showBoard', { 'gameID': game.id })) }}
		</div>
		<div class="col-md-6">
			{# if game is defined else render start game options #}
			{{ include('CMInterfaceBundle:Game:piecesWonOrLost.html.twig', { 'wonLost': 'Lost'}) }}
			{{ include('CMInterfaceBundle:Game:chatBox.html.twig', {}) }}
			{{ include('CMInterfaceBundle:Game:piecesWonOrLost.html.twig', { 'wonLost': 'Won'}) }}
		</div>
	</div>
	<div id="choosePiece_b" class="ui-dialog hidden" title="Choose Piece">
		<div id="pick_b_queen" class="piece choosablePiece">&#9819;</div>
		<div id="pick_b_rook" class="piece choosablePiece">&#9820;</div>
		<div id="pick_b_bishop" class="piece choosablePiece">&#9821;</div>
		<div id="pick_b_knight" class="piece choosablePiece">&#9822;</div>
	</div>
	<div id="choosePiece_w" class="ui-dialog hidden" title="Choose Piece">
		<div id="pick_w_queen" class="piece choosablePiece">&#9813;</div>
		<div id="pick_w_rook" class="piece choosablePiece">&#9814;</div>
		<div id="pick_w_bishop" class="piece choosablePiece">&#9815;</div>
		<div id="pick_w_knight" class="piece choosablePiece">&#9816;</div>
	</div>
{% endblock %}
