<div id="midGameOptions" class="row">
	<div class="col-md-4">
    	<a  href="{{ path('cm_resign_game', {'gameID': gameID}) }}" class="btn btn-large btn-danger">Resign</a>
	</div>
	<div class="col-md-4">
    	<a href="{{ path('cm_offer_draw', {}) }}" class="btn btn-large btn-success">Offer Draw</a>
	</div>
	<div class="col-md-4">
		{% if (pChatty) %}
			{% set chat = 'Disable Chat' %}
		{% else %}
			{% set chat = 'Enable Chat' %}
		{% endif %}
    	<a id="toggleChat" href="{{ path('cm_toggle_chat', { 'gameID' : gameID, 'player' : player }) }}" class="btn btn-large btn-warning">{{ chat }}</a>
	</div>
</div>	