<div id="newGameOptions" class="ui-dialog">
	<form id="newGameForm" action="{{ path('cm_new_game', {})}}" method="POST">
		<center><h1><u>Start Game</u></h1></center>
		<h2>Opponent:</h2>
		<input type="radio" name="opponent" value=1 checked>&nbsp;<label>Human</label>
		<input type="radio" name="opponent" value=2>&nbsp;<label>Computer</label>
    	{% if not app.user.registered %}
    		{% set skillHidden = 'hidden' %}
    	{% else %}
    		{% set skillHidden = 'visible' %}
    	{% endif %}
		<div id="skillLevel" class="{{ skillHidden }}">
			<h2>Skill Level:</h2>
			<input type="radio" name="skill" value=1 checked>&nbsp;<label id="skill1">Best Match</label>
			<br>
			<input type="radio" name="skill" value=2>&nbsp;<label id="skill2">Lesser</label>
			<input type="radio" name="skill" value=3>&nbsp;<label id="skill3">Greater</label>
		</div>
		<h2>Minutes per player:</h2>
		<input type="radio" name="duration" value=3>&nbsp;<label>3</label>
		<input type="radio" name="duration" value=10 checked>&nbsp;<label>10</label>
		<input type="radio" name="duration" value=30>&nbsp;<label>30</label>
		<br>
		<input type="radio" name="duration" value=5>&nbsp;<label>5</label>
		<input type="radio" name="duration" value=20>&nbsp;<label>20</label>
		<input type="radio" name="duration" value=60>&nbsp;<label>60</label>
	    <center><a id="findGame" class="btn btn-large btn-primary">Find Match</a></center>
	</form>
</div>

<div id="findingGameDialog" class="ui-dialog">
	<h2>Finding game<span id="loadingDots"></span></h2>
	<br>
	<center>
		<a id="cancelSearch" class="btn btn-large btn-danger">Cancel</a>
		<a id="relaxSearch" class="btn btn-large btn-warning">Relax search</a>
		<a id="playComputer" class="btn btn-large btn-primary">Play computer</a>
	</center>
</div>