<div id="pieces{{ wonLost }}" class="row piecesWonLost">
	<div class="col-md-12">
		<span>Pieces {{ wonLost }}:</span>
		<div class="row">
			{% for i in 1..15  %}
				<div class="col-md-2 col-sm-2 col-xs-2"></div>
			{% endfor %}
		</div>
	</div>
</div>