 {% extends '::base.html.twig' %}
 
{% block body %}
	<div class="row">
	    <div class="errors col-md-6">
		</div>
	</div>
	<div class="row">
	    <div class="col-md-6">
		    {{ render(controller('CMInterfaceBundle:Game:showBoard', { 'gameID': game.id })) }}
		</div>
		<div class="col-md-6">
			<div id="piecesLost" class="row">
				<div class="col-md-12">
					<span>Pieces lost:</span>
					<div class="row">
						{% for i in 1..15  %}
							<div class="col-md-2 col-sm-2 col-xs-2"></div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div id="chatBox" class="row">
				<div class="col-md-12">
					{# if game is defined else render start game options #}
					<h2>Chat with opponent:</h2>
					<table>
						<tr>
							<td><textarea>blah blah blah</textarea></td>
							{#<td rowspan=2><h2>Opponent:</h2></td> #}
						</tr>
						<tr>
							<td></td>
						</tr>
					</table>
				</div>
			</div>	
			<div id="piecesWon" class="row">
				<div class="col-md-12">
					<span>Pieces won:</span>
					<div class="row">
						{% for i in 1..15  %}
							<div class="col-md-2 col-sm-2 col-xs-2"></div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="choosePiece_b" class="ui-dialog hidden" title="Choose Piece">
		<div id="pick_b_queen" class="piece choosablePiece">&#9819;</div>
		<div id="pick_b_rook" class="piece choosablePiece">&#9820;</div>
		<div id="pick_b_bishop" class="piece choosablePiece">&#9821;</div>
		<div id="pick_b_knight" class="piece choosablePiece">&#9822;</div>
	</div>
	<div id="choosePiece_w" class="ui-dialog hidden" title="Choose Piece">
		<div id="pick_w_queen" class="piece choosablePiece">&#9813;</div>
		<div id="pick_w_rook" class="piece choosablePiece">&#9814;</div>
		<div id="pick_w_bishop" class="piece choosablePiece">&#9815;</div>
		<div id="pick_w_knight" class="piece choosablePiece">&#9816;</div>
	</div>
{% endblock %}
