 {% extends '::base.html.twig' %}

 
{% block body %}
<h2>Chat with opponent:</h2>
<table>
<tr>
<td><textarea>blah blah blah</textarea></td>
<td rowspan=2><h2>Opponent:</h2></td>
</tr>
<tr>
<td></td>
</tr>
</table>
{% endblock %}
