<!doctype html>
	<html>
		<head>
			<meta charset="utf-8">
			<title>JS Unit Tests</title>
			{# TODO: composer packages #}
			<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
			<link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.17.1.css">
			<script src="//code.jquery.com/qunit/qunit-1.17.1.js"></script>
			<script src="{{ asset('bundles/cminterface/js/boardHelper.js') }}"></script>
			<script>
				QUnit.test("testResolveAbstractBoard", function( assert ) {
					for (i = 1; i <= 8; i++) {
						for (j = 0; j < 8; j++) {
							var alphaX = letterAt[j];
							var indices = getAbstractIndicesFromGridRef(alphaX, i);
							assert.equal(indices[0], i-1);
							assert.equal(indices[1], j);
							assert.equal(getGridRefFromAbstractIndices(indices[0], indices[1]), alphaX+'_'+i);
						}
					}
				});
			</script>
		</head>
		<body>
		<div id="qunit"></div>
	</body>
</html>