@CHARSET "ISO-8859-1";

@media (max-width: @screen-xs) {
    body{font-size: 6px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 10px;}
}

body {
	background: linear-gradient(#6881E6,#ffffff) no-repeat;
	height:100%;
	font-size: 15px;
}

img#logo {
	padding: 7px;
}

div#header {
	font-size:4em;
}

div#header label {
    padding-top: 33px;
	padding-left: 0.45em;
}

div#userOptions {
    padding-top: 33px;
}

div.errors {
	font-size:2em;
	color: #ff0000;	
}

div.login {
	background: radial-gradient(#CCCCE7, #5884b0) no-repeat;
	font-size:1.5em;
	margin-left:auto;
	margin-right:auto;
    border-radius: 10px;
	font-weight:strong;
	padding: 0.6em;
}

div.login input[type=text], div.login input[type=email], div.login input[type=password] {
	margin-top: 0.2%;
	margin-bottom: 0.8%;
}

div.login li {
	font-size:1em;
	color: #ff0000;
}

div#loginOptions {
	margin-left: 7px;
}

div#loginOptions a {
	font-size:1.5em;
}

div#login input[type=text], div#login input[type=email], div#login input[type=password] {
	width:100%;
}

div#login input[type=text], div#login input[type=email], div#login input[type=password] {
	width:100%;
}

div#login input[type=submit] {
    width:100%;
}

div#login label[for=remember_me], #remember_me {	
	display:inline;
}

div#register input[type=text], div#register input[type=email], div#register input[type=password] {
	width:90%;
}

div#register label, div#login label {
	width:100%;
	text-align:right;
}

div#register input[type=text], div#register input[type=email], div#register input[type=password] {
	width:90%;
}

div#register input[type=submit] {
	margin-top: 10px;
}

div#reset input[type=text], div#reset input[type=email], div#reset input[type=password] {
	width:68%;
}