@CHARSET "ISO-8859-1";


body {
	background: linear-gradient(#6881E6,#ffffff) no-repeat;
	height:100%;
}

div#header {
	font-size:5em;
	//vertical-align:top;
	//width:100%;
}

img#logo {
	padding: 7px;
}

div#header div.col-md-9 label {
    padding-top: 33px;
	padding-left: 0.45em;
}

table#header button {
	//font-size: 0.5em;
	//width:6em;
	//height:1.7em;
	//background: #ffffff;
	//margin-bottom:7%;
	//font-weight:strong;
}

table.login {
	background: radial-gradient(#CCCCE7, #5884b0) no-repeat;
	font-size:1.8em;
	margin-left:auto;
	margin-right:auto;
	border-spacing:0.4em;
	border-collapse: separate;
    border-radius: 10px;
	text-align:right;
	font-weight:strong;
}

div.login {
	background: radial-gradient(#CCCCE7, #5884b0) no-repeat;
	font-size:1.5em;
	margin-left:auto;
	margin-right:auto;
    border-radius: 10px;
	font-weight:strong;
	padding: 0.6em;
}

div.login input[type=text] {
	width:68%;
}

div.login label {
	//text-align:right;
}

div.errors {
	font-size:2em;
	color: #ff0000;	
}

div#loginOptions a {
	font-size:1.5em;
}