@CHARSET "ISO-8859-1";

@media (max-width: @screen-xs) {
    body{font-size: 6px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 10px;}
}

body {
	background: linear-gradient(#6881E6,#ffffff) no-repeat;
	height:100%;
	font-size: 15px;
}

div.ui-dialog {
	cursor: pointer;
	display: none;	
}

div.board {
	height: 48em;
	width: 48em;
	outline: 1px solid #bdb7b7;
	margin: 3%;
	cursor: pointer;
}

div.square {  
	float: left;
    height: 6em;
    width: 6em;
}

div.light {
	background: #ffffff;
}

div.dark {
	background: #bdb7b7;
}

div.piece {
	font-size: 5em;
	text-align: center;
}

div.piecesWonLost {
	background: radial-gradient(#CCCCE7, #ffffff) no-repeat;
	min-height: 10em;
	outline: 1px solid #bdb7b7;
	margin-right: 2em;
	margin-top: 1em;
}

div.piecesWonLost span {
	font-size: 1.1em;
	font-weight:bold;
}

div#chatBox {
	min-height: 10em;	
}

div#chatBox textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:94%;
}

div#newGameOptions {
	background: radial-gradient(#CCCCE7, #ffffff) no-repeat;
	outline: 1px solid #bdb7b7;
	margin-right: 2em;
	margin-top: 1em;
	font-size: 1.4em;
	padding: 1% 3% 3% 3%;
	width:95%;
}

div#newGameOptions h2 {
	color: #2E2EFE;
}

div#newGameOptions input[type="submit"] {
	width:100%;
}

div#midGameOptions a {
	width:80%;
}

img#logo {
	padding: 7px;
}

div#header {
	font-size:4em;
}

div#header label {
    padding-top: 33px;
	padding-left: 0.45em;
}

div#userOptions {
    padding-top: 33px;
}

div.errors {
	font-size:2em;
	color: #ff0000;	
}

div.login {
	background: radial-gradient(#CCCCE7, #5884b0) no-repeat;
	font-size:1.5em;
	margin-left:auto;
	margin-right:auto;
    border-radius: 10px;
	font-weight:strong;
	padding: 0.6em;
}

div.login input[type=text], div.login input[type=email], div.login input[type=password] {
	margin-top: 0.2%;
	margin-bottom: 0.8%;
}

div.login li {
	font-size:1em;
	color: #ff0000;
}

div#loginOptions {
	margin-left: 7px;
}

div#loginOptions a {
	font-size:1.5em;
}

div#login input[type=text], div#login input[type=email], div#login input[type=password] {
	width:100%;
}

div#login input[type=text], div#login input[type=email], div#login input[type=password] {
	width:100%;
}

div#login input[type=submit] {
    width:100%;
}

div#login label[for=remember_me], #remember_me {	
	display:inline;
}

div#register input[type=text], div#register input[type=email], div#register input[type=password] {
	width:90%;
}

div#register label, div#login label {
	width:100%;
	text-align:right;
}

div#register input[type=text], div#register input[type=email], div#register input[type=password] {
	width:90%;
}

div#register input[type=submit] {
	margin-top: 10px;
}

div#reset input[type=text], div#reset input[type=email], div#reset input[type=password] {
	width:68%;
}