{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        {% if invalid_username is defined %}
            <div class="errors"><center>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</center></div>
        {% endif %}
	    <table id="reset" class="login">
		    <tr>
			    <td colspan=2><u>Request Password Reset</u></td>
			</tr>  
	    	<tr>
	    		<td>
        			<label for="username">{{ 'resetting.request.username'|trans }}</label>
		    	</td>
	    		<td>
        			<input type="text" id="username" name="username" required="required" />
		    	</td>
		    </tr>
	    	<tr>
	    		<td>
		    	</td>
	    		<td>
	        		<input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
		    	</td>
		    </tr>
		</table>
	    <div>
	    </div>
    </div>
</form>
